// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

:root {
    --primary: #1a1e29 !important;
    --secondary: #24283b !important;
    --tertiary: #d95650 !important;
    --tertiary-dark: #ad403a !important;
    --light: #ffffff !important;
    --light-gray: #cdcdce !important;
    --gray: #858796 !important;
}

// HOME
.home{
    background: var(--primary);

    .login{
        width: 25%;
    }

    .card{
        background: var(--secondary);
        color: var(--light);
        border: 0;

        .btn-home{
            background: var(--tertiary);
            color: var(--light);
    
            &:hover{
                background: var(--tertiary-dark);
                color: var(--light);
            }
        }

        form{
            position: relative;

            input, select, textarea{
                background: var(--primary);
                border: 0;
                outline: 0;
                color: var(--gray);
            }
        }
    }
}

// admin

#page-top{
    #wrapper #content-wrapper{
        overflow-x: unset;
    }
    .bg-secondary{
        background-color: var(--secondary) !important;
    }
    .bg-tertiary{
        background-color: var(--tertiary);
    }
    .text-light{
        color: var(--light);
    }
    .text-gray{
        color: var(--gray);
    }
    .text-tertiary{
        color: var(--tertiary);
    }
    .btn{
        background: var(--tertiary);
        border: 0;
    }
    .btn-primary{
        background: var(--secondary);
        border: 0;
    }
    .shadow {
        box-shadow: 0 0.5rem 1rem 0px rgb(0 0 0 / 18%) !important;
    }
    .dropdown-divider{
        border-top: var(--primary);
    }
    .dropdown-item:focus, .dropdown-item:hover{
        background-color: var(--tertiary);
        color: var(--light);
    }
    .dropdown-item:focus i, .dropdown-item:hover i{
        color: var(--light);
    }
    .sidebar .nav-item .collapse .collapse-inner .collapse-item:hover, .sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover{
        background-color: var(--tertiary);
        color: var(--light);
    }
    .sidebar .nav-item .collapse .collapse-inner .collapse-item:hover i, .sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover i{
        color: var(--light);
    }

    .sidebar .nav-item .collapse .collapse-inner .collapse-item.active, .sidebar .nav-item .collapsing .collapse-inner .collapse-item.active{
        background-color: var(--tertiary);
        color: var(--light);
    }
    .sidebar .nav-item .collapse .collapse-inner .collapse-item.active i, .sidebar .nav-item .collapsing .collapse-inner .collapse-item.active i{
        color: var(--light);
    }

    .dropdown-menu{
        background: var(--secondary);
        border: none;
        z-index: 1091;
        
        .dropdown-item{
            color: var(--light);
        }
    }

    .admin-sidebar{
        background: var(--primary);

        .nav-item .nav-link i{
            color: var(--tertiary);
        }
        .nav-item.active .nav-link{
            color: var(--tertiary);
        }
        
    }
    
    #content{
        background: var(--secondary);

        .admin-nav{
            background: var(--primary);
        }
    }
    .card{
        background: var(--primary);
        border: 0 !important;

        .card-header{
            border: 0;
            background: none !important;
        }
    }
    .modal-content{
        background-color: var(--secondary);
        color: var(--light);
        .logout-info{
           font-size: 50px;
           margin-bottom: 30px;
        }
    }

    // transfer in page
    #content .transfer-in{
        position: relative;

        .modal {
            form{
                position: relative;

                input, select, textarea{
                    background-color: var(--primary);
                    border: 0;
                    outline: 0;
                    color: var(--gray);
                }
            }
        }
        
        .card {
            .card-header{
                input, select, textarea{
                    background-color: var(--secondary);
                    border: 0;
                    outline: 0;
                    color: var(--gray);
                    padding: 10px;
                    border-radius: 10px;
                }
            }

            .card-body{
                
                input{
                    background-color: var(--secondary);
                    border: 0;
                    outline: 0;
                    color: var(--gray);
                    border-radius: 10px;
                }

                table{
                    border: 0;
                    th{
                        background: var(--secondary);
                        border: 0;
                        font-weight: 300;
                        padding: 1.5rem 10px;
                        font-size: 13px;

                        &::after{
                            display: none;
                        }
                    }

                    tr{
                        border: 0 !important;

                        td{
                            border: 0 !important;
                            border-bottom: 1px solid var(--secondary);
                            vertical-align: middle;
                            font-size: 13px;

                            .item-photo{
                                height: 50px;
                                width: 50px;
                                object-fit: cover;
                                border-radius: 10%;
                            }
                        }
                    }
                }
            }

            form{
                position: relative;

                input, select, textarea{
                    background-color: var(--secondary);
                    border: 0;
                    outline: 0;
                    color: var(--gray);
                }
            }
        }
    }

    // transfer out page
    #content .transfer-out{
        position: relative;

        .t-o-left{
            form{
                position: relative;
    
                input, select, textarea{
                    background-color: var(--primary);
                    border: 0;
                    outline: 0;
                    color: var(--gray);
                }
            }

            .t-o-items{
                padding-top: 80px;

                .card{
                    margin-bottom: 70px;
                    .card-footer{
                        background: #283048;

                        span{
                            height: 15px;
                            width: 2px;
                            background: var(--gray);
                        }
                    }

                    .t-o-item-img{
                        margin-top: -60px;
                        width: 200px;
                        height: 200px;
                        border-radius: 10%;
                        object-fit: cover;
                        background: var(--primary);
                        padding: 5px;
                    }
                }
            }
        }
        .t-o-right{

            form{
                position: relative;

                .ch-input{
                    background: var(--primary);
                }
    
                input, select, textarea{
                    background-color: var(--secondary);
                    border: 0;
                    outline: 0;
                    color: var(--gray);
                }

                .order-item{
                    width: 100%;
                    position: relative;
                    background: var(--secondary);
                    border-radius: 10px;
                    column-gap: 20px;

                    img{
                        height: 50px;
                        width: 50px;
                        border-radius: 10%;
                    }
                }
                .order-details{
                    display: flex;
                    flex-direction: column;
                }
            }
        }
        
        .card {

            .card-body{
                position: relative;
            }
        }
    }

    // categories page
    #content .categories{
        position: relative;

        .modal {
            form{
                position: relative;

                input, select, textarea{
                    background-color: var(--primary);
                    border: 0;
                    outline: 0;
                    color: var(--light-gray);
                }
            }
        }
        
        .card {
            .card-header{
                input, select, textarea{
                    background-color: var(--secondary);
                    border: 0;
                    outline: 0;
                    color: var(--light-gray);
                    padding: 10px;
                    border-radius: 10px;
                }
            }

            .card-body{
                
                input{
                    background-color: var(--secondary);
                    border: 0;
                    outline: 0;
                    color: var(--light-gray);
                    border-radius: 10px;
                }

                table{
                    border: 0;
                    th{
                        background: var(--secondary);
                        border: 0;
                        font-weight: 300;
                        padding: 1.5rem 10px;
                        font-size: 13px;

                        &::after{
                            display: none;
                        }
                    }

                    tr{
                        border: 0 !important;

                        td{
                            border: 0 !important;
                            border-bottom: 1px solid var(--secondary);
                            vertical-align: middle;
                            font-size: 13px;

                            .item-photo{
                                height: 50px;
                                width: 50px;
                                object-fit: cover;
                                border-radius: 10%;
                            }
                        }
                    }
                }
            }

            form{
                position: relative;

                input, select, textarea{
                    background-color: var(--secondary);
                    border: 0;
                    outline: 0;
                    color: var(--light-gray);
                }
            }
        }
    }
}


@media only screen and (max-width:1024px){
    .login{
        width: auto !important;
    }
}
